body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #FAFAFA;
}

.quem-somos {
    background-color: #D8D8D8;
    color: black;
}

.brother{
	margin-top:30px;
}

.margin {
    padding-top: 30px;
    padding-bottom: 30px;
}

.parceiros {
    background-color: #BDBDBD;
    color: black;
    padding-bottom: 30px;
}

.servicos {
    background-color: #848484;
    color: white;
    padding-bottom: 30px;
}
.bg-footer {
    background-color: #585858;
    color: white;
}